<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
        <env-entry>
        <env-entry-name>client_id</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>672d07dc-3554-4bf6-bee8-d0a7b8434658</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>api_key</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>MYvmSyRd2q3DTB5xIz1aU7D4ym5NagjWHk7eV3BUqfeO0hpO2a</env-entry-value>
    </env-entry>
</web-app>
